<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/fda6e23714.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/assests/favicon.ico">
    <link rel="stylesheet" href="/components/Avatars/Avatar.css">
    <link rel="stylesheet" href="/Pages/Pages.css">

    <title>MADEUI</title>
</head>

<body>
    <div class="pages">
        <header class="header pages_header">
            <h2 class="heading header_heading ">MadeUI</h2>
            <label for="click" class="menu_btn"> <i class="fas fa-bars" id = "menu" onclick="changeIcon(this)"></i></label>
            <input type="checkbox" id="click">
            <ul class="list">
                <li class="list_style"><a class ="link_style" href ="/index.html"><span>Home</span></a></li>
                <li  class="list_style"><a class ="link_style" href ="/components/Avatars/Avatar.html"><span>Documentation</span></a></li>
                <li class="list_style"><a class="link_style" href="https://github.com/Shrinkhlarajpoot/MadeUI"><i class="fab fa-github"></i></a></li> 
            </ul>

    </header>
        
    <sidebar class="pages_sidebar">
        <ul class="sidebar__items">
             <h4 class="sidebar__heading">Getting Started</h4>
             <li class="sidebar__components list_style"><a href="/Documentation/Introduction/Introduction.html" 
                 class="link_style">Introduction</a></li>
             <li class="sidebar__components list_style"><a href="/Documentation/Colors/Colors.html" 
                 class="link_style">Colors</a></li>
             <li class="sidebar__components list_style"><a href="/Documentation/Typography/Typography.html" 
                 class="link_style">Typography</a></li>
             <li class="sidebar__components list_style"><a href="/Documentation/Conclusion/Conclusion.html" 
                class="link_style">Conclusion</a></li>
             <h4 class="sidebar__heading">Components</h4>
             <li class="sidebar__components list_style"><a href="/components/Avatars/Avatar.html"
                 class="link_style">Avatar</a></li>
            <li class="sidebar__components list_style"><a href="/components/Alerts/Alerts.html"
                 class="link_style">Alert</a></li>
             <li class="sidebar__components list_style"><a href="/components/Badges/Badges.html"
                 class="link_style">Badges</a></li>
             <li class="sidebar__components list_style"><a href="/components/Buttons/Buttons.html"
                 class="link_style">Buttons</a></li>
            <li class="sidebar__components list_style"><a href="/components/Cards/Cards.html"
                 class="link_style">Cards</a></li>
            <li class="sidebar__components list_style"><a href="/components/Images/Images.html"
                 class="link_style">Images</a></li>
            <li class="sidebar__components list_style"><a href="/components/Inputs/Inputs.html"
                 class="link_style">Inputs</a></li>
            <li class="sidebar__components list_style"><a href="/components/List/List.html"
                 class="link_style">List</a></li>
            <li class="sidebar__components list_style"><a href="/components/Navigation/Navigation.html"
                 class="link_style">Navigation</a></li>
            <li class="sidebar__components list_style"><a href="/components/Toast/Toast.html"
                 class="link_style">Toast</a></li>
            <li class="sidebar__components list_style"><a href="/components/Rating/Rating.html"
                 class="link_style">Ratings</a></li>
            <li class="sidebar__components list_style"><a href="/components/Text-Utlities/Text-Utilities.html"
                 class="link_style">Text-Utilities</a></li>
            <li class="sidebar__components list_style"><a href="/components/GridSimplified/GridSimplified.html"
                  class="link_style">Grid-Simplified</a></li>
            <li class="sidebar__components list_style"><a href="/components/Modal/Modal.html"
                 class="link_style">Modal</a></li>
            <li class="sidebar__components list_style"><a href="/components/Slider/Slider.html"
                class="link_style">Slider</a></li>
            </ul>
        </sidebar>
       

       <main class="pages_container">
        <h1 class="component_heading" >Avatars</h1>
      <div class="codebar">
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F3ec11c6b1895fb4cc68d4e1496e321fa1daf2a53%2Findex.html%23L2-L4&style=night-owl"></script>
      </div>
        

        <div>Avatar can be used to show user's profile picture on profile information page,on
            navigation bar, in blogs grid items.</div>

        <h2 class="sub_heading">Standard Avatars</h2>
        <div>The Avatars components has four sizes.You need to include class according to size the
            size of avatar you want.
            <span style="color:rgb(0,158,129)">avatar-xl,avatar-lg,avatar-std,avatar-sm.</span>
        </div>
        <div class="container">
            <figure class="avatar">
                <img class="avatar-xl" src="/assests/girl.jpg" alt="Avatar"></img>
                <img class="avatar-lg" src="/assests/girl.jpg" alt="Avatar"></img>
                <img class="avatar-std" src="/assests/girl.jpg" alt="Avatar"></img>
                <img class="avatar-sm" src="/assests/girl.jpg" alt="Avatar"></img>
            </figure>
        </div>
       <div class="codebar">
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F04f0accd1fbdfb2922927a4f6de7d614042b44cd%2Findex.html%23L6-L11&style=night-owl"></script>
       </div>

        
        <div class="avatar_status">
            <h2 class="sub_heading">Avatars with Status</h2>
            <div class="Avatar_desp">Avatars support presence indicators.There are three indicators <span style="color:rgb(0,158,129)">online,offline and dnd</span>
              <span style="color:rgb(0,158,129)">avatar-xl,avatar-lg,avatar-std,avatar-sm.</span>
          </div>
    
         <div class="avatar_status_avtar  container1">
            <figure class="avatar-active avatars">
                <img class=" avatar-xl" src="/assests/girl2.jpg" alt="Avatar"></img>
                <div class="active_status"></div>
            </figure>
            <figure class=" avatar-busy avatars">
                <img class="avatar-lg " src="/assests/girl2.jpg" alt="Avatar"></img>
                <div class="busy_status" ></div>
            </figure>
            <figure class=" avatar-dnd avatars">
                <img class="avatar-std " src="/assests/girl2.jpg" alt="Avatar"></img>
                <div class="dnd_status"></div>
            </figure><br>
         </div>
        <div class="codebar">
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F04f0accd1fbdfb2922927a4f6de7d614042b44cd%2Findex.html%23L12-L25&style=night-owl"></script>
        </div>
       
    <div class="avatar_status">
        <h2 class="sub_heading">Avatars with Square Shape</h2>
        <div>Avatars with square Shapes </div>

        <div class="container">
            <figure class="avatar">
                <img class="avatar-sqr-xl" src="/assests/girl.jpg" alt="Avatar"></img>
                <img class="avatar-sqr-lg" src="/assests/girl.jpg" alt="Avatar"></img>
                <img class="avatar-sqr-std" src="/assests/girl.jpg" alt="Avatar"></img>
                
            </figure>
        </div>
    
        <div class="codebar">
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F04f0accd1fbdfb2922927a4f6de7d614042b44cd%2Findex.html%23L26-L29&style=night-owl"></script>
        </div>
       <div class="next_forward">
           <h3 class="sub_heading"><a class="link_style" href="/Documentation/Introduction/Introduction.html">Introduction</a></h3>
           <h3 class="sub_heading"><a class="link_style" href="/components/Alerts/Alerts.html">Alerts</a></h3>
       </div>
</main>
    </div>
    <script src="/Javascript/header.js"></script>
</body>

</html>
    