.avatar-xl{
   width:7em;
   height:7em;
   border-radius:50%;
  
 }
 .avatar-lg{
   width:5em;
   height:5em;
   border-radius:50%;
  }
 .avatar-std{
   width:3em;
   height:3em;
    border-radius:50%;
 }
 .avatar-sm{
   width:2em;
   height:2em;
    border-radius:50%;
 }
 .avatars{
  padding:0.5rem;
  
 }  
 .avatar-active{
   position: relative;
 }
 .active_status{
   
     padding: 0.5rem;
    position: absolute;
    background: var(--error--color);
    border-radius: 50%;
    bottom: 1rem;
    left: 5.7rem;
 }
 .avatar-busy{
  position: relative;
  
 }
 .busy_status{
  padding:6px;
  position: absolute;
  background:var(--sucess--color);
  border-radius:50%;
  bottom:13px;
  left:4.3rem;
  }
  .avatar-dnd{
     position: relative;
  
 
  }
  .dnd_status{
      padding:6px;
      position: absolute;
      background:grey;
      border-radius:50%;
      bottom:10px;
      left:2.5rem;
  }
  .avatar-sqr-xl{
    width:7em;
    height:7em;
  }
  .avatar-sqr-lg{
    width:5em;
    height:5em;
  }
  .avatar-sqr-std{
    width: 3em;
    height: 3em;
  }
  .next_forward{
   width: 90%;
   display: flex;
   justify-content: space-between;
   
 }
 .next_forward h2{
  margin: 4rem 0;
 }
