<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/Pages/Pages.css">
    <link rel="stylesheet" href="/components/Images/Images.css">
    <script src="https://kit.fontawesome.com/fda6e23714.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/assests/favicon.ico">
    <title>MADEUI</title>
</head>
<body>
    <div class="pages">
        <header class="header pages_header" id="header">
            <h2 class="heading header_heading">MadeUI</h2>
            <label for="click" class="menu_btn"> <i class="fas fa-bars" id = "menu" onclick="changeIcon(this)"></i></label>
            <input type="checkbox" id="click">
            <ul class="list">
                <li class="list_style"><a class ="link_style" href ="/index.html"><span>Home</span></a></li>
                <li  class="list_style"><a class ="link_style" href ="/components/Avatars/Avatar.html"><span>Documentation</span></a></li>
                <li class="list_style"><a class="link_style" href="https://github.com/Shrinkhlarajpoot/MadeUI"><i class="fab fa-github"></i></a></li> 


            </ul>
            </header>
            <sidebar class="pages_sidebar">
                <ul class="sidebar__items">
                     <h4 class="sidebar__heading">Getting Started</h4>
                     <li class="sidebar__components list_style"><a href="/Documentation/Introduction/Introduction.html" 
                         class="link_style">Introduction</a></li>
                     <li class="sidebar__components list_style"><a href="/Documentation/Colors/Colors.html" 
                         class="link_style">Colors</a></li>
                     <li class="sidebar__components list_style"><a href="/Documentation/Typography/Typography.html" 
                         class="link_style">Typography</a></li>
                     <li class="sidebar__components list_style"><a href="/Documentation/Conclusion/Conclusion.html" 
                        class="link_style">Conclusion</a></li>
                     <h4 class="sidebar__heading">Components</h4>
                     <li class="sidebar__components list_style"><a href="/components/Avatars/Avatar.html"
                         class="link_style">Avatar</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Alerts/Alerts.html"
                         class="link_style">Alert</a></li>
                     <li class="sidebar__components list_style"><a href="/components/Badges/Badges.html"
                         class="link_style">Badges</a></li>
                     <li class="sidebar__components list_style"><a href="/components/Buttons/Buttons.html"
                         class="link_style">Buttons</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Cards/Cards.html"
                         class="link_style">Cards</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Images/Images.html"
                         class="link_style">Images</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Inputs/Inputs.html"
                         class="link_style">Inputs</a></li>
                    <li class="sidebar__components list_style"><a href="/components/List/List.html"
                         class="link_style">List</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Navigation/Navigation.html"
                         class="link_style">Navigation</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Toast/Toast.html"
                         class="link_style">Toast</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Rating/Rating.html"
                         class="link_style">Ratings</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Text-Utlities/Text-Utilities.html"
                         class="link_style">Text-Utilities</a></li>
                    <li class="sidebar__components list_style"><a href="/components/GridSimplified/GridSimplified.html"
                          class="link_style">Grid-Simplified</a></li>
                     <li class="sidebar__components list_style"><a href="/components/Modal/Modal.html"
                         class="link_style">Modal</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Slider/Slider.html"
                        class="link_style">Slider</a></li>
                </ul>
            </sidebar>
            <main class="pages_container">
                <h1 class="component_heading">Images</h1>
                <div class="codebar">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L223-L225&style=night-owl"></script>
                </div>
                <div>Images can be responsive to fit the parent's width,and also can be customized ti be round shape.</div>
                <h3 class="sub_heading">Example of Responsive Image</h3>
                <div>You can add class img-responsive to make your image fit the width of container.Its height will get adjusted by keeping 
                    the aspect ratio,you will have to crop the image.Add class <span style="color:var(--primary-color)">img_responsive</span>
                </div>
                <div class="container">
                    <img class="img_responsive" src="/assests/mountains.jpg" >
                </div>
               <div class="codebar">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L226-L227&style=night-owl"></script>
               </div>
                <h3 class="sub_heading">Example of Round Image</h3>
                <div>You can add class <span style="color:var(--primary-color)">img_round</span>to make your image round shaped.</div>
                <div class=container1>
                    <img class="img_round" src="/assests/trees.jpg">
                    
                </div>
               <div class="codebar">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L228-L229&style=night-owl"></script>
               </div>
              <h3 class="sub_heading">Example of Sqaure Image</h3>
                <div>You can add class <span style="color:var(--primary-color)">img_square</span>to make your image round shaped.</div>
                <div class=container>
                    <img class="img_square" src="/assests/trees.jpg">
                    
                </div>
               <div class="codebar">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L230-L231&style=night-owl"></script>
               </div>
               <div class="next_forward">
                <h3 class="sub_heading"><a class="link_style" href="/components/Cards/Cards.html">Cards</a></h3>
                <h3 class="sub_heading"><a class="link_style" href="/components/Inputs/Inputs.html">Inputs</a></h3>
            </div>
        </main>
    </div>
    <script src="/JavaScript/header.js"></script>
</body>
</html>