<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/Pages/Pages.css">
    <link rel="stylesheet" href="/components/Images/Images.css">
    <script src="https://kit.fontawesome.com/fda6e23714.js" crossorigin="anonymous"></script>
    <title>MADEUI</title>
</head>
<body>
    <div class="pages">
        <header class="header pages_header" id="header">
            <h2 class="heading header_heading">MadeUI</h2>
            <label for="click" class="menu_btn"> <i class="fas fa-bars" id = "menu" onclick="changeIcon(this)"></i></label>
            <input type="checkbox" id="click">
            <ul class="list">
                <li class="list_style"><a class ="link_style" href ="/index.html"><span>Home</span></a></li>
                <li  class="list_style"><a class ="link_style" href ="/Pages/Pages.html"><span>Documentation</span></a></li>
            </ul>
            </header>
        
       <sidebar class="pages_sidebar">

            <ul class="sidebar__items">
                <h4 class="sidebar__heading">Getting Started</h4>
                <li class="sidebar__components list_style"><a href="/Pages/Pages.html" 
                    class="link_style">Usage</a></li>
                <h4 class="sidebar__heading">Components</h4>
                <li class="sidebar__components list_style"><a href="/components/Avatars/Avatar.html"
                        class="link_style">Avatar</a></li>
                <li class="sidebar__components list_style"><a href="/components/Alerts/Alerts.html"
                        class="link_style">Alert</a></li>
                <li class="sidebar__components list_style"><a href="/components/Badges/Badges.html"
                        class="link_style">Badges</a></li>
                <li class="sidebar__components list_style"><a href="/components/Buttons/Buttons.html"
                        class="link_style">Buttons</a></li>
                <li class="sidebar__components list_style"><a href="/components/Cards/Cards.html"
                        class="link_style">Cards</a></li>
                <li class="sidebar__components list_style"><a href="/components/Images/Images.html"
                        class="link_style">Images</a></li>
                <li class="sidebar__components list_style"><a href="/components/Inputs/Inputs.html"
                        class="link_style">Inputs</a></li>
            </ul>
        </sidebar>
            <main class="pages_container">
                <h1 class="component_heading">Images</h1>
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=base16-dark&wt=none&l=auto&width=912&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Anonymous+Pro&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2540import%2520url%28%2522https%253A%252F%252Fmadeui.netlify.app%252Fcomponents%252FImages%252FImages.css%2522%29%253B%250A%2520%2520%2520%2520%2520%253Clink%2520rel%253D%2522stylesheet%2522%2520href%253D%2522https%253A%252F%252Fmadeui.netlify.app%252Fcomponents%252FImages%252FImages.css%2522%253E%2520%2520%250A%2520%2520%2520%2520%2520%2520%2520%250A%2520"
                   style="width:100%; height: 150px; border:0; transform: scale(1); overflow:hidden;"
                   sandbox="allow-scripts allow-same-origin">
               </iframe>
                <div>Images can be responsive to fit the parent's width,and also can be customized ti be round shape.</div>
                <h3 class="sub_heading">Example of Responsive Image</h3>
                <div>You can add class img-responsive to make your image fit the width of container.Its height will get adjusted by keeping 
                    the aspect ratio,you will have to crop the image.Add class <span style="color:var(--primary-color)">img_responsive</span>
                </div>
                <div class=container1>
                    <img class="img_responsive" src="/assests/mountains.jpg" >
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=base16-dark&wt=none&l=auto&width=912&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Anonymous+Pro&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img_responsive%2522%2520src%253D%2522%252Fassests%252Fmountains.jpg%2522%2520%253E%2520%250A%2520%2520%2520%2520%2520%2520%2520%250A%2520"
                style="width:100%; height: 150px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
                <h3 class="sub_heading">Example of Round Image</h3>
                <div>You can add class <span style="color:var(--primary-color)">img_round</span>to make your image round shaped.</div>
                <div class=container1>
                    <img class="img_round" src="/assests/trees.jpg">
                    
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=base16-dark&wt=none&l=auto&width=912&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Anonymous+Pro&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img_round%2522%2520src%253D%2522%252Fassests%252Ftrees.jpg%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%250A%2520"
                style="width:100%; height:150px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
              <h3 class="sub_heading">Example of Sqaure Image</h3>
                <div>You can add class <span style="color:var(--primary-color)">img_square</span>to make your image round shaped.</div>
                <div class=container1>
                    <img class="img_square" src="/assests/trees.jpg">
                    
                </div>
                <iframe
                 src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=base16-dark&wt=none&l=auto&width=912&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Anonymous+Pro&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img_square%2522%2520src%253D%2522%252Fassests%252Ftrees.jpg%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%250A%2520"
                 style="width:100%; height: 150px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
               <div class="next_forward">
                <h2 class="sub_heading"><a class="link_style" href="/components/Cards/Cards.html">Cards</a></h2>
                <h2 class="sub_heading"><a class="link_style" href="/components/Inputs/Inputs.html">Inputs</a></h2>
            </div>
        </main>
        </div>
    <script src="/JavaScript/header.js"></script>
</body>
</html>