<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/Pages/Pages.css">
   <link rel="stylesheet" href="/components/Badges/Badges.css">
    <script src="https://kit.fontawesome.com/fda6e23714.js" crossorigin="anonymous"></script>
    <title>MADEUI</title>
</head>
<body>
    <div class="pages">
        <header class="header pages_header" id="header">
            <h2 class="heading header_heading">MadeUI</h2>
            <label for="click" class="menu_btn"> <i class="fas fa-bars" id = "menu" onclick="changeIcon(this)"></i></label>
            <input type="checkbox" id="click">
            <ul class="list">
                <li class="list_style"><a class ="link_style" href ="/index.html"><span>Home</span></a></li>
                <li  class="list_style"><a class ="link_style" href ="/Pages/Pages.html"><span>Documentation</span></a></li>
            </ul>

         </header>
        
         <sidebar class="pages_sidebar">
            <ul class="sidebar__items">
                 <h4 class="sidebar__heading">Getting Started</h4>
                 <li class="sidebar__components list_style"><a href="/Documentation/Introduction/Introduction.html" 
                     class="link_style">Introduction</a></li>
                 <li class="sidebar__components list_style"><a href="/Documentation/Colors/Colors.html" 
                     class="link_style">Colors</a></li>
                 <li class="sidebar__components list_style"><a href="/Documentation/Typography/Typography.html" 
                     class="link_style">Typography</a></li>
                 <li class="sidebar__components list_style"><a href="/Documentation/Conclusion/Conclusion.html" 
                    class="link_style">Conclusion</a></li>
                 <h4 class="sidebar__heading">Components</h4>
                 <li class="sidebar__components list_style"><a href="/components/Avatars/Avatar.html"
                     class="link_style">Avatar</a></li>
                <li class="sidebar__components list_style"><a href="/components/Alerts/Alerts.html"
                     class="link_style">Alert</a></li>
                 <li class="sidebar__components list_style"><a href="/components/Badges/Badges.html"
                     class="link_style">Badges</a></li>
                 <li class="sidebar__components list_style"><a href="/components/Buttons/Buttons.html"
                     class="link_style">Buttons</a></li>
                <li class="sidebar__components list_style"><a href="/components/Cards/Cards.html"
                     class="link_style">Cards</a></li>
                <li class="sidebar__components list_style"><a href="/components/Images/Images.html"
                     class="link_style">Images</a></li>
                <li class="sidebar__components list_style"><a href="/components/Inputs/Inputs.html"
                     class="link_style">Inputs</a></li>
                <li class="sidebar__components list_style"><a href="/components/List/List.html"
                     class="link_style">List</a></li>
                <li class="sidebar__components list_style"><a href="/components/Navigation/Navigation.html"
                     class="link_style">Navigation</a></li>
                <li class="sidebar__components list_style"><a href="/components/Toast/Toast.html"
                     class="link_style">Toast</a></li>
                <li class="sidebar__components list_style"><a href="/components/Rating/Rating.html"
                     class="link_style">Ratings</a></li>
                <li class="sidebar__components list_style"><a href="/components/Text-Utlities/Text-Utilities.html"
                     class="link_style">Text-Utilities</a></li>
                <li class="sidebar__components list_style"><a href="/components/GridSimplified/GridSimplified.html"
                      class="link_style">Grid-Simplified</a></li>
                </ul>
                </sidebar>
            
            <main class="pages_container">
                <h1 class="component_heading" >Badges</h1>
               <div class="codebar">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F4519468328938b7c977cee156c772fae8e827e25%2Findex.html%23L55-L58&style=night-owl"></script>
               </div>
  
                <div>Badges are being used to display a notification count or status information</div>
                <h3 class="sub_heading">Examples of Status Badges</h3>
                <div>We have 2 types of status badges that can be integrated with Avatars.You can use colors to show the online status of user. 
                   <br>Add class <span style="color:var(--primary-color)">avatars avatar-lg status and according to status busy_status active_status etc</span>
                to add these in your project. </div>
                <div class="container1">
                    <figure class="avatar-active avatars">
                        <img class=" avatar-lg" src="/assests/girl2.jpg" alt="Avatar"></img>
                        <div class="active_status status"></div>
                    </figure>
                    <figure class="avatar-busy avatars">
                        <img class=" avatar-lg" src="/assests/girl2.jpg" alt="Avatar"></img>
                        <div class="busy_status status"></div>
                    </figure>
                    <figure class="avatar-dnd avatars">
                        <img class=" avatar-lg" src="/assests/girl2.jpg" alt="Avatar"></img>
                        <div class="dnd_status status"></div>
                    </figure>
                   </div>
                   <div class="codebar">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F4519468328938b7c977cee156c772fae8e827e25%2Findex.html%23L59-L71&style=night-owl"></script>
                   </div>

                    <h3 class="sub_heading">Examples of text-Badges</h3>
                    <div>We have 2 types of text badges that can be integrated with text. Badges with rounded edges and square edges.<br>
                    Add classes <span style="color:var(--primary-color)"> text-badge1 and for round badge badge_round</span> to add 
                these in your projects.</div>
                    <div class="container Badges">
                        <h3>Text with a Badges <span class="text-badge1">New</span></h3>
                        <h4>Text with a Badges <span class="text-badge1">New</span></h4>
                        <h5>Text with a Badges <span class="text-badge1 badge_round">New</span></h5>
                        <h6>Text with a Badges <span class="text-badge1 badge_round">New</span></h6>

                     </div> 
                   <div class="codebar">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F4519468328938b7c977cee156c772fae8e827e25%2Findex.html%23L73-L77&style=night-owl"></script>
                   </div>
                      <h3 class="sub_heading">Examples of Icons Badges</h3>
                      <div>These are the icons which contains Badges which is basically used to see notifications or calls on the icons.
                          Add classes <span style="color:var(--primary-color)"> icon1 icon icon_status and status1,status2 etc.</span>accordingly to add in your project</div>
                    <div class="container1">
                        <div class="icon1 icon">
                           <i class="fas fa-envelope"></i>
                           <div class=" icon_status status1">+3</div>
                        </div>
                        <div class="icon2 icon">
                           <i class="fas fa-user-alt"></i>  
                           <div class=" icon_status status2" >1</div>
                           
                        </div>
                        <div class="icon3 icon">
                           <i class="fas fa-mobile-alt"></i>
                           <div class=" icon_status status3">@</div>
                        </div>
                        </div>
                        <div class="codebar">
                            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F4519468328938b7c977cee156c772fae8e827e25%2Findex.html%23L79-L91&style=night-owl"></script>
                        </div>
                      <div class="next_forward">
                        <h3 class="sub_heading"><a class="link_style" href="/components/Alerts/Alerts.html">Alerts</a></h3>
                        <h3 class="sub_heading"><a class="link_style" href="/components/Buttons/Buttons.html">Buttons</a></h3>
                    </div>
                </main>
                </div>
                <script src="/JavaScript/header.js"></script>
        
    
</body>
</html>