<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/Pages/Pages.css">
    <link rel="stylesheet" href="/components/Buttons/Buttons.css">
    <script src="https://kit.fontawesome.com/fda6e23714.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="pages">
    <header class="header pages_header" id="header">
        <h2 class="heading header_heading">MadeUI</h2>
        <label for="click" class="menu_btn"> <i class="fas fa-bars" id = "menu" onclick="changeIcon(this)"></i></label>
        <input type="checkbox" id="click">
        <ul class="list">
            <li class="list_style"><a class ="link_style" href ="/index.html"><span>Home</span></a></li>
            <li  class="list_style"><a class ="link_style" href ="/Pages/Pages.html"><span>Documentation</span></a></li>
        </ul>

     </header>
        
       <sidebar class="pages_sidebar">

            <ul class="sidebar__items">
                <h4 class="sidebar__heading">Getting Started</h4>
                <li class="sidebar__components list_style"><a href="/components/Pages/Pages.html" 
                    class="link_style">Usage</a></li>
                <h4 class="sidebar__heading">Components</h4>
                <li class="sidebar__components list_style"><a href="/components/Avatars/Avatar.html"
                        class="link_style">Avatar</a></li>
                <li class="sidebar__components list_style"><a href="/components/Alerts/Alerts.html"
                        class="link_style">Alert</a></li>
                <li class="sidebar__components list_style"><a href="/components/Badges/Badges.html"
                        class="link_style">Badges</a></li>
                <li class="sidebar__components list_style"><a href="/components/Buttons/Buttons.html"
                        class="link_style">Buttons</a></li>
                <li class="sidebar__components list_style"><a href="/components/Cards/Cards.html"
                        class="link_style">Cards</a></li>
                <li class="sidebar__components list_style"><a href="/components/Images/Images.html"
                        class="link_style">Images</a></li>
                <li class="sidebar__components list_style"><a href="/components/Inputs/Inputs.html"
                        class="link_style">Inputs</a></li>
            </ul>
        </sidebar>
            <main class="pages_container">
                <h1 class="component_heading">Buttons</h1>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=base16-dark&wt=none&l=auto&width=912&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Anonymous+Pro&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2540import%2520url%28%2522https%253A%252F%252Fmadeui.netlify.app%252Fcomponents%252FButtons%252FButtons.css%2522%29%253B%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Clink%2520rel%253D%2522stylesheet%2522%2520href%253D%2522https%253A%252F%252Fmade.netlify.app%252Fcomponents%252FButtons%252FButtons.css%2522%253E%2520%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A"
                style="width:100%; height: 150px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
                <div>Buttons are also called as call to action.We have range of buttons and their status.You may use
                    a tag or button element.you need to add respective classes.and you are good to go.
                </div>
            <h3 class="sub_heading">Example of Primary Buttons Styles</h3>
            <p>Whenever you want your user to click on a button,use primary style button. Add class<span style="color:var(--primary-color)">btn btn_solid-primary btn_outline-primary

            </span> add these buttons</p>
             <div class="container1">
                <a class="btn btn_solid-primary">Primary-Solid</a>
                <a class="btn btn_outline-primary">Primary-Outline</a>
                
                <a><i class="fas fa-shopping-cart btn_icon btn"></i></a>
                
            </div>
            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=base16-dark&wt=none&l=auto&width=912&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Anonymous+Pro&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%2520class%253D%2522btn%2520btn_solid-primary%2522%253EPrimary-Solid%253C%252Fa%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%2520class%253D%2522btn%2520btn_outline-primary%2522%253EPrimary-Outline%253C%252Fa%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%253E%253Ci%2520class%253D%2522fas%2520fa-shopping-cart%2520btn_icon%2520btn%2522%253E%253C%252Fi%253E%253C%252Fa%253E%250A"
            style="width:100%; height: 150px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
          </iframe>
            <h3 class="sub_heading">Example of Secondary Buttons Styles</h3>
            <div>If you want user not to pay attention to buttons then use Secondary buttons.You can directly copy below html code 
                and add class <span style="color:var(--primary-color)">btn btn_sec btn_solid-secondary etc</span> to add.
            </div>
            <div class="container1">
        <a class="btn btn_sec btn_solid-secondary">Solid</a>
        <a class="btn btn_sec btn_outline-secondary">Outline</a>
        
        <i class="fas fa-dumpster btn_sec"></i>
        <a class="btn btn_sec btn_icon-secondary"> - Remove</a>
            </div>
            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=base16-dark&wt=none&l=auto&width=912&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Anonymous+Pro&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%2520class%253D%2522btn%2520btn_sec%2520btn_solid-secondary%2522%253ESolid%253C%252Fa%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%2520class%253D%2522btn%2520btn_sec%2520btn_outline-secondary%2522%253EOutline%253C%252Fa%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-dumpster%2520btn_sec%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%2520class%253D%2522btn%2520btn_sec%2520btn_icon-secondary%2522%253E%2520-%2520Remove%253C%252Fa%253E%250A"
           style="width:100%; height: 150px; border:0; transform: scale(1); overflow:hidden;"
           sandbox="allow-scripts allow-same-origin">
         </iframe>
            <h3 class="sub_heading">Example of Floating Action Buttons</h3>
            <div>Floating-action buttons can be customized by adding the font-awesome icon of your choice. Add class<span style="color:var(--primary-color)">btn btn_float-action</span>
             to use these buttons</div>
        <div class="container1">
            <a class="btn btn_float-action"><i class="fas fa-plus"></i></a>
            <a class="btn btn_float-action"><i class="fas fa-minus"></i></a>
            <a class="btn btn_float-action"><i class="fas fa-arrow-up"></i></a>
        </div>
        <iframe
          src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=base16-dark&wt=none&l=auto&width=912&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Anonymous+Pro&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%2520class%253D%2522btn%2520btn_float-action%2522%253E%253Ci%2520class%253D%2522fas%2520fa-plus%2522%253E%253C%252Fi%253E%253C%252Fa%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%2520class%253D%2522btn%2520btn_float-action%2522%253E%253Ci%2520class%253D%2522fas%2520fa-minus%2522%253E%253C%252Fi%253E%253C%252Fa%253E%250A"
         style="width:100%; height:150px; border:0; transform: scale(1); overflow:hidden;"
         sandbox="allow-scripts allow-same-origin">
       </iframe>
         <h3 class="sub_heading">Example of Link Buttons</h3>
         <div>Floating-action buttons can be customized by adding the font-awesome icon of your choice. Add class<span style="color:var(--primary-color)">
        btn,btn_text-secondary or btn_text-primary</span>to add these
         </div>
         <div class="container1">
            <a class="btn btn_sec btn_text-secondary">Text Link</a>
            <a class="btn btn_text-primary">Primary-Text</a>
        </div>
        <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=base16-dark&wt=none&l=auto&width=912&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Anonymous+Pro&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%2520class%253D%2522btn%2520btn_sec%2520btn_text-secondary%2522%253EText%2520Link%253C%252Fa%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%2520class%253D%2522btn%2520btn_text-primary%2522%253EPrimary-Text%253C%252Fa%253E%250A"
  style="width:100%; height: 150px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
        <h3 class="sub_heading">Example of Buttons with icons</h3>
         <div>These are the buttons with icons.Add class<span style="color:var(--primary-color)">btn btn_icon-primary</span>to use them.
         </div>
         <div class="container1">
            <a class="btn btn_icon-primary"><i class="fas fa-shopping-cart"></i>Add to Cart</a>
            <a class="btn btn_icon-primary"><i class="fas fa-hand-point-up"></i>Join fast</a>
        </div>
        <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=base16-dark&wt=none&l=auto&width=912&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Anonymous+Pro&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%2520class%253D%2522btn%2520btn_icon-primary%2522%253E%253Ci%2520class%253D%2522fas%2520fa-shopping-cart%2522%253E%253C%252Fi%253EAdd%2520to%2520Cart%253C%252Fa%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%2520class%253D%2522btn%2520btn_icon-primary%2522%253E%253Ci%2520class%253D%2522fas%2520fa-hand-point-up%2522%253E%253C%252Fi%253EJoin%2520fast%253C%252Fa%253E%250A"
  style="width:100%; height: 150px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
         <div class="next_forward">
            <h2 class="sub_heading"><a class="link_style" href="/components/Badges/Badges.html">Badges</a></h2>
            <h2 class="sub_heading"><a class="link_style" href="/components/Cards/Cards.html">Cards</a></h2>
         </main>
    </div>
    <script src="/JavaScript/header.js"></script>         
</body>
</html>