.footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    height:7rem;
    position:fixed;
    bottom:0;
    right:0;
    left:0;
   
}
.footer__social{
    display:flex;
}
.footer__social li{
    padding-left: 2rem;
}
.footer__social i{
    color:white;
}