.homepage{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    padding: 0.5rem 4rem;
    justify-content: space-between;
    align-items: center;
}
.header_heading{
    color: var(--primary-color);
}
.header ul{
    display: flex;
     gap:2rem;
    
}
.header ul li{
    align-self: center;
}
.link_style:hover span{
    border-bottom: 3px solid black;
}
.list_style{
  list-style: none;
}


