:root{
    --primary-color:#009e81;
     --secondary-color:#0ed3af;
     --sucess--color:#008000;
     --error--color:#ff0000;
     --secondary--btn_color_bg:#eaeaec;
     --secondary--btn_color:#888888;
     --text--color:#000000;
     --text2--color:#ffffff;
       }
      
 
 *{
     margin: 0;
     padding:0;
     box-sizing: border-box;
    }
 *::-webkit-scrollbar{
   width:10px;
   border-radius:5px;
 }
 *::-webkit-scrollbar-thumb{
  background-color: var(--primary-color);
}

