.img-res{
   width:100%;
   height:100%;
   
}


.grid-50-50-layout{
    width:80%;
    height:fit-content;
    display: grid;
    grid-template-columns: 50% 50%;
    border:1px solid var(--error--color);
   
}
.grid-70-30-layout{
    width:80%;
    height:fit-content;
    display: grid;
    grid-template-columns: 70% 30%;
    border:1px solid var(--error--color);
   
}

.grid-30-70-layout{
    width:80%;
    height:fit-content;
    display: grid;
    grid-template-columns: 30% 70%;
    border:1px solid var(--error--color);
   
}
.grid-three-layout{
    width:80%;
    height:fit-content;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border:1px solid var(--error--color);


}
.grid-four-layout{
    width:80%;
    height:fit-content;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border:1px solid var(--error--color);

}



