<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fda6e23714.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/Pages/Pages.css">
    <link rel="stylesheet" href="/components/GridSimplified/GridSimplified.css">
    

    <title>MADEUI</title>
</head>

<body>
    <div class="pages">
        <header class="header pages_header">
                <h2 class="heading header_heading ">MadeUI</h2>
                <label for="click" class="menu_btn"> <i class="fas fa-bars" id = "menu" onclick="changeIcon(this)"></i></label>
                <input type="checkbox" id="click">
                <ul class="list">
                    <li class="list_style"><a class ="link_style" href ="/index.html"><span>Home</span></a></li>
                    <li  class="list_style"><a class ="link_style" href ="/Pages/Pages.html"><span>Documentation</span></a></li>

                </ul>
        </header>
        
       <sidebar class="pages_sidebar">
           <ul class="sidebar__items">
                <h4 class="sidebar__heading">Getting Started</h4>
                <li class="sidebar__components list_style"><a href="/Pages/Pages.html" 
                    class="link_style">Usage</a></li>
                <h4 class="sidebar__heading">Components</h4>
                <li class="sidebar__components list_style"><a href="/components/Avatars/Avatar.html"
                        class="link_style">Avatar</a></li>
                <li class="sidebar__components list_style"><a href="/components/Alerts/Alerts.html"
                        class="link_style">Alert</a></li>
                <li class="sidebar__components list_style"><a href="/components/Badges/Badges.html"
                        class="link_style">Badges</a></li>
                <li class="sidebar__components list_style"><a href="/components/Buttons/Buttons.html"
                        class="link_style">Buttons</a></li>
                <li class="sidebar__components list_style"><a href="/components/Cards/Cards.html"
                        class="link_style">Cards</a></li>
                <li class="sidebar__components list_style"><a href="/components/Images/Images.html"
                        class="link_style">Images</a></li>
                <li class="sidebar__components list_style"><a href="/components/Inputs/Inputs.html"
                        class="link_style">Inputs</a></li>
                <li class="sidebar__components list_style"><a href="/components/List/List.html"
                        class="link_style">List</a></li>
                <li class="sidebar__components list_style"><a href="/components/Navigation/Navigation.html"
                        class="link_style">Navigation</a></li>
                <li class="sidebar__components list_style"><a href="/components/Toast/Toast.html"
                        class="link_style">Toast</a></li>
                <li class="sidebar__components list_style"><a href="/components/Rating/Rating.html"
                        class="link_style">Ratings</a></li>
                <li class="sidebar__components list_style"><a href="/components/Text-Utlities/Text-Utilities.html"
                        class="link_style">Text-Utilities</a></li>
               <li class="sidebar__components list_style"><a href="/components/GridSimplified/GridSimplified.html"
                         class="link_style">GridSimplified</a></li>
            </ul>
        </sidebar>

             <main class="pages_container">
                <h2 class="component_heading">GridSimplified</h2>
             <iframe
                src="https://carbon.now.sh/embed/MbobB2t26kzwW4p8uJMb"
                style="width:90%; height: 159px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
           <div>Use grid when you want sections in view.Check below some examples of side by side cards.
              <h3 class="sub_heading">Example of side by side (50:50) layout</h3>
                <div>Add grid <span style="color:var(--primary-color)">grid 50-50 layout </span>class on wrapper div which is wrapping 2 Divs</div>
                <div class="container">
                        <div class="grid-50-50-layout">
                            <div>
                                <img src="/assests/lipstick.jfif" alt="heels" class="img-res"/>
                            </div>
                            <div>
                            <img src="/assests/foundation.jpg" alt="lips" class="img-res"/>
                          </div>
                  </div>
                </div>
               <iframe
               src="https://carbon.now.sh/embed/J6yqOsfhCfLydlOeQ4x7"
              style="width:90%; height:150px; border:0; transform: scale(1); overflow:hidden;"
              sandbox="allow-scripts allow-same-origin">
            </iframe>
                <h3 class="sub_heading">Example of side by side (70:30) layout</h3>
                <div>Add grid <span style="color:var(--primary-color)">grid 70-30 layout </span>class on wrapper div which is wrapping 2 Divs</div>
                <div class="container">
               <div class="grid-70-30-layout">
                                <div>
                                    <img src="/assests/lipstick.jfif" alt="heels" class="img-res"/>
                                </div>
                               
                              <div >
                                <img src="/assests/foundation.jpg" alt="lips" class="img-res"/>
                              </div>
                        </div>
                    </div>
                    <iframe
                    src="https://carbon.now.sh/embed/J6yqOsfhCfLydlOeQ4x7"
                    style="width:90%; height:150px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                 <h3 class="sub_heading">Example of side by side (30:70) layout</h3>
                  <div>Add grid <span style="color:var(--primary-color)">grid 30-70 layout </span>class on wrapper div which is wrapping 2 Divs</div>
                  <div class="container">
                       <div class="grid-30-70-layout">
                               <div>
                                 <img src="/assests/lipstick.jfif" alt="heels" class="img-res"/>
                                </div>
                                   
                                <div>
                                    <img src="/assests/foundation.jpg" alt="lips" class="img-res"/>
                                  </div>
                        
                        </div>
                   </div>
                    <iframe
                    src="https://carbon.now.sh/embed/J6yqOsfhCfLydlOeQ4x7"
                    style="width:90%; height:150px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                    <h3 class="sub_heading">Example of four column grid</h3>
                    <div>Add grid <span style="color:var(--primary-color)">grid 30-70 layout </span>class on wrapper div which is wrapping 2 Divs</div>
                    
                    <div class="container">
                      <div class="grid-four-layout">
                        <div>
                         <img src="/assests/lipstick.jfif" alt="heels" class="img-res"/>
                        </div>
                        <div>
                        <img src="/assests/foundation.jpg" alt="lips" class="img-res"/>
                        </div>
                        <div>
                        <img src="/assests/heels.jpg" alt="heels" class="img-res"/>
                        </div>
                        <div>
                        <img src="/assests/lips2.jpg" alt="heels" class="img-res"/>
                        </div>
                     </div>
                    </div>
                    <iframe
                      src="https://carbon.now.sh/embed/J6yqOsfhCfLydlOeQ4x7"
                      style="width:90%; height:150px; border:0; transform: scale(1); overflow:hidden;"
                      sandbox="allow-scripts allow-same-origin">
                </iframe>
                <div class="next_forward">
                        <h3 class="sub_heading"><a class="link_style" href="/components/Text-Utlities/Text-Utilities.html">Text-Utilities</a></h3>
                        <h3 class="sub_heading"><a class="link_style" href="/index.html">Home</a></h3>
                       </div>
                 </main>
    </div>
    <script src="/Javascript.js/header.js"></script>
</body>

</html>