<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/Pages/Pages.css">
    <link rel="stylesheet" href="/components/Cards/Cards.css">
    <script src="https://kit.fontawesome.com/fda6e23714.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="pages">
        <header class="header pages_header" id="header">
            <h2 class="heading header_heading">MadeUI</h2>
            <label for="click" class="menu_btn"> <i class="fas fa-bars" id = "menu" onclick="changeIcon(this)"></i></label>
            <input type="checkbox" id="click">
            <ul class="list">
                <li class="list_style"><a class ="link_style" href ="/index.html"><span>Home</span></a></li>
                <li  class="list_style"><a class ="link_style" href ="/components/Avatars/Avatar.html"><span>Documentation</span></a></li>
                <li class="list_style"><a class="link_style" href="https://github.com/Shrinkhlarajpoot/MadeUI"><i class="fab fa-github"></i></a></li> 
           </ul>
       </header>
        
         <sidebar class="pages_sidebar">
            <ul class="sidebar__items">
                 <h4 class="sidebar__heading">Getting Started</h4>
                 <li class="sidebar__components list_style"><a href="/Documentation/Introduction/Introduction.html" 
                     class="link_style">Introduction</a></li>
                 <li class="sidebar__components list_style"><a href="/Documentation/Colors/Colors.html" 
                     class="link_style">Colors</a></li>
                 <li class="sidebar__components list_style"><a href="/Documentation/Typography/Typography.html" 
                     class="link_style">Typography</a></li>
                 <li class="sidebar__components list_style"><a href="/Documentation/Conclusion/Conclusion.html" 
                    class="link_style">Conclusion</a></li>
                 <h4 class="sidebar__heading">Components</h4>
                 <li class="sidebar__components list_style"><a href="/components/Avatars/Avatar.html"
                     class="link_style">Avatar</a></li>
                <li class="sidebar__components list_style"><a href="/components/Alerts/Alerts.html"
                     class="link_style">Alert</a></li>
                 <li class="sidebar__components list_style"><a href="/components/Badges/Badges.html"
                     class="link_style">Badges</a></li>
                 <li class="sidebar__components list_style"><a href="/components/Buttons/Buttons.html"
                     class="link_style">Buttons</a></li>
                <li class="sidebar__components list_style"><a href="/components/Cards/Cards.html"
                     class="link_style">Cards</a></li>
                <li class="sidebar__components list_style"><a href="/components/Images/Images.html"
                     class="link_style">Images</a></li>
                <li class="sidebar__components list_style"><a href="/components/Inputs/Inputs.html"
                     class="link_style">Inputs</a></li>
                <li class="sidebar__components list_style"><a href="/components/List/List.html"
                     class="link_style">List</a></li>
                <li class="sidebar__components list_style"><a href="/components/Navigation/Navigation.html"
                     class="link_style">Navigation</a></li>
                <li class="sidebar__components list_style"><a href="/components/Toast/Toast.html"
                     class="link_style">Toast</a></li>
                <li class="sidebar__components list_style"><a href="/components/Rating/Rating.html"
                     class="link_style">Ratings</a></li>
                <li class="sidebar__components list_style"><a href="/components/Text-Utlities/Text-Utilities.html"
                     class="link_style">Text-Utilities</a></li>
                <li class="sidebar__components list_style"><a href="/components/GridSimplified/GridSimplified.html"
                      class="link_style">Grid-Simplified</a></li>
                </ul>
                </sidebar>
            <main class="pages_container">
                <h1 class="component_heading">Cards</h1>
               <div class="codebar">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F73968bea06b05c2d6461e7c32533c2a789352c1e%2Findex.html%23L113-L115&style=night-owl"></script>
               </div>
                <div>Cards are used to show user related data collectively,like product details</div>
                <h3 class="sub_heading">Example of Vertical & Shadow Card</h3>
                <div>Below html code is for Vertical card to add shadow in the card add the class  card_verti--shadow in the card container.</div>
               <div class="container1">
                  <div class="card__verti">
                    <div class="card__verti--background">
                        <img src="/assests/lipstick.jfif" alt="Lipstick">
                    </div>
                    <div class="card__verti--content">
                        <h2>Red nude Lipstick</h2>
                        <h4>powered by S</h4>
                        <p>Super Stay Matte Ink Liquid Lipstick<br>Last upto 6 hours</p>
                    </div>
                    <div class="card__verti--nav">
                        <button class="primary">Add to Cart<i class="fas fa-cart-plus"></i></button>
                        <button class="secondary">Buy Now <i class="fas fa-shopping-bag"></i></button>
                        <i class= "icons fas fa-heart"><span class="tooltip">Favourite</span></i>
                        <i class=" icons fas fa-share-alt"><span class="tooltip">Share</span></i>
                       <i class=" icons fas fa-check-circle"><span class="tooltip">Verified</span></i>
                   </div>
                   </div>
                   <div class="card__verti card_verti-shadow">
                    <div class="card__verti--background">
                        <img src="/assests/eyeshadow.jpg" alt="Eyeshadow">
                    </div>
                    <div class="card__verti--content">
                        <h2>EyeShadows</h2>
                        <h4>powered by S</h4>
                        <p> Matte Eyshadow platte<br>Last upto 6 hours</p>
                    </div>
                    <div class="card__verti--nav">
                        <button class="primary">Add to Cart<i class="fas fa-cart-plus"></i></button>
                        <button class="secondary">Buy Now <i class="fas fa-shopping-bag"></i></button>
                        <i class= "icons fas fa-heart"><span class="tooltip">Favourite</span></i>
                        <i class=" icons fas fa-share-alt"><span class="tooltip">Share</span></i>
                       <i class=" icons fas fa-check-circle"><span class="tooltip">Verified</span></i>
                   </div>
                   </div>
                   </div>
                   <div class="codebar">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F73968bea06b05c2d6461e7c32533c2a789352c1e%2Findex.html%23L115-L133&style=night-owl"></script>
                   </div>
                   <h3 class="sub_heading">Example of Horizontal Cards</h3>
                   <div>These are the examples of horizaontal card which is mainly used for notifications.</div>
                      <div class="container1">
                        <div class="card__hori">
                            <div class="card__hori--main">
                                <div class="card__hori--info">
                                <div class="card__hori--background">
                                 <img src="/assests/lipstick.jfif" alt="Lipstick">
                             </div>
                         </div>
                       <div class="card__hori--content">
                                     <h2>Red nude Lipstick</h2>
                                     <h4 >powered by S</h4>
                                     <p>Super Stay Matte Ink Lipstick<br>Last upto 6 hours</p>
                                 </div>
                             </div>
                     
                                 <div class="card__hori--nav">
                                     <button class="primary">Add to Cart<i class="fas fa-cart-plus"></i></button>
                                     <button class="secondary">Buy Now <i class="icons fas fa-shopping-bag"></i></button>
                                     <i class= "icons fas fa-heart"><span class="tooltip">Favourite</span></i>
                                     <i class=" icons fas fa-share-alt"><span class="tooltip">Share</span></i>
                                    <i class=" icons fas fa-check-circle"><span class="tooltip">Verified</span></i>
                                 </div>
                                 </div>
                                 <div class="card__hori">
                                    <div class="card__hori--main">
                                            <div class="card__hori--info">
                                            <div class="card__hori--background">
                                             <img src="/assests/lipstick.jfif" alt="Lipstick">
                                         </div>
                                     </div>
                                        <div class="card__hori--content">
                                             <h2>Red nude Lipstick</h2>
                                             <h4 >powered by S</h4>
                                             <p> Matte Eyshadow palette<br>Last upto 6 hours</p>
                                         </div>
                                     </div>
                             
                                         <div class="card__hori--nav">
                                             <button class="primary">Add to Cart<i class="fas fa-cart-plus"></i></button>
                                             <button class="secondary">Buy Now <i class="icons fas fa-shopping-bag"></i></button>
                                             <i class= "icons fas fa-heart"><span class="tooltip">Favourite</span></i>
                                             <i class=" icons fas fa-share-alt"><span class="tooltip">Share</span></i>
                                            <i class=" icons fas fa-check-circle"><span class="tooltip">Verified</span></i>
                                         </div>
                     </div>
                     </div>
                    <div class="codebar">
                        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F73968bea06b05c2d6461e7c32533c2a789352c1e%2Findex.html%23L134-L155&style=night-owl"></script>
                    </div>
                      <h3 class="sub_heading">Example of Cards with Badges </h3>
                      <div>These kind of cards are used to show some special notification like offers,discounts etc</div>
                    <div class="container1">
                        <div class="card__verti card__withbadge">
                            <div class="card__verti--background">
                                <img src="/assests/lipstick.jfif" alt="Lipstick">
                            </div>
                            <div class="card__verti--content">
                                <h2>Red nude Lipstick</h2>
                                <h4>powered by S</h4>
                                <p>Super Stay Matte Ink Liquid Lipstick<br>Last upto 6 hours</p>
                            </div>
                            <div class="card__verti--nav">
                                <button class="primary">Add to Cart<i class="fas fa-cart-plus"></i></button>
                                <button class="secondary">Buy Now <i class="fas fa-shopping-bag"></i></button>
                                <i class= "icons fas fa-heart"><span class="tooltip">Favourite</span></i>
                                <i class=" icons fas fa-share-alt"><span class="tooltip">Share</span></i>
                               <i class=" icons fas fa-check-circle"><span class="tooltip">Verified</span></i>
                           </div>
                           <div class="cardbadge">NEW</div>
                           </div>
                    </div>
                    <div class="codebar">
                        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F73968bea06b05c2d6461e7c32533c2a789352c1e%2Findex.html%23L156-L173&style=night-owl"></script>
                    </div>
                           
                           <h3 class="sub_heading">Example of Cards with text-overlay</h3>
                        <div>These kind of cards are used to show some alerts like out of stocks etc</div>
                           

                          <div class="container1">
                              
                          <div class="card_textoverlay">
                            <div class="card__verti card_textoverlay_blur">
                                <div class="card__verti--background">
                                    <img src="/assests/eyeshadow.jpg" alt="Eyeshadow" >
                                </div>
                                <div class="card__verti--content">
                                    <h2>Nude Eyeshadow</h2>
                                    <h4>powered by S</h4>
                                    <p>Super Stay Matte Eyeshadow pallete<br>Last upto 6 hours</p>
                                </div>
                                <div class="card__verti--nav">
                                    <button class="primary">Add to Cart<i class="fas fa-cart-plus"></i></button>
                                    <button class="secondary">Buy Now <i class="fas fa-shopping-bag"></i></button>
                                    <i class= "icons fas fa-heart"><span class="tooltip">Favourite</span></i>
                                    <i class=" icons fas fa-share-alt"><span class="tooltip">Share</span></i>
                                   <i class=" icons fas fa-check-circle"><span class="tooltip">Verified</span></i>
                               </div>
                          </div>
                               <div class="textoverlay">OUT OF STOCK</div>
                               </div>
                          </div>

                     <div class="codebar">
                        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F7a9aa9ee90b3f53af06745c69b986a422fc8f18f%2Findex.html%23L174-L192&style=night-owl"></script>
                    </div>
                    <h3 class="sub_heading">Example of Cards with Dismiss</h3>
                    <div>This is a card with dismiss to dismiss the card.</div>
                    <div class="container1">
                        <div class="card__verti card_dismiss">
                            <i class="fas fa-times-circle dismiss-icon"></i>
                            <div class="card__verti--background">
                                <img src="/assests/eyeshadow.jpg" alt="Eyeshadow" >
                            </div>
                            <div class="card__verti--content">
                                <h2>Nude Eyeshadow</h2>
                                <h4>powered by S</h4>
                                <p>Super Stay Matte Eyeshadow pallete<br>Last upto 6 hours</p>
                            </div>
                            <div class="card__verti--nav">
                                <button class="primary">Add to Cart<i class="fas fa-cart-plus"></i></button>
                                <button class="secondary">Buy Now <i class="fas fa-shopping-bag"></i></button>
                                <i class= "icons fas fa-heart"><span class="tooltip">Favourite</span></i>
                                <i class=" icons fas fa-share-alt"><span class="tooltip">Share</span></i>
                               <i class=" icons fas fa-check-circle"><span class="tooltip">Verified</span></i>
                           </div>
                         
                           </div>
                           </div>
                           <div class="codebar">
                            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F7a9aa9ee90b3f53af06745c69b986a422fc8f18f%2Findex.html%23L192-L211&style=night-owl"></script>
                        </div>
                           <h3 class="sub_heading">Example of Text only Card</h3>
                           <div>This is a classic card with only text content</div>
                    
                        <div class="container1"> 
                             <div class="card__verti">
                            <div class="card__verti--content">
                             <h3>To all the beauty queens <br>Grasp the offer!!</h3>
                              <h3> foundation,Lipsticks and all your<br>beauty products is 60% OFF.</h3><br>
                             <h2>powered by S <br>In collab with Sugar Cosmetics</h2>
                                 
                             </div>
                             <p class="text_only">STOCKS LIMITED EDITION</p>
                     </div></div>
               
               <div class="codebar">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F7a9aa9ee90b3f53af06745c69b986a422fc8f18f%2Findex.html%23L213-L221&style=night-owl"></script>
                </div>
           <div class="next_forward">
            <h3 class="sub_heading"><a class="link_style" href="/components/Buttons/Buttons.html">Buttons</a></h3>
            <h3 class="sub_heading"><a class="link_style" href="/components/Images/Images.html">Images</a></h3>
        </div>
    </main>
            </div>
             <script src="/Javascript.js/header.js"></script>
</body>
</html>