<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/Pages/Pages.css">
    <link rel="stylesheet" href="/components/List/List.css">
    <link rel="icon" type="image/x-icon" href="/assests/favicon.ico">
    <script src="https://kit.fontawesome.com/fda6e23714.js" crossorigin="anonymous"></script>
    <title>MADEUI</title>
</head>
<body>
    <div class="pages">
        <header class="header pages_header" id="header">
            <h2 class="heading header_heading">MadeUI</h2>
            <label for="click" class="menu_btn"> <i class="fas fa-bars" id = "menu" onclick="changeIcon(this)"></i></label>
            <input type="checkbox" id="click">
            <ul class="list">
                <li class="list_style"><a class ="link_style" href ="/index.html"><span>Home</span></a></li>
                <li  class="list_style"><a class ="link_style" href ="/components/Avatars/Avatar.html"><span>Documentation</span></a></li>
                <li class="list_style"><a class="link_style" href="https://github.com/Shrinkhlarajpoot/MadeUI"><i class="fab fa-github"></i></a></li> 
           </ul>

         </header>

         <sidebar class="pages_sidebar">
            <ul class="sidebar__items">
                 <h4 class="sidebar__heading">Getting Started</h4>
                 <li class="sidebar__components list_style"><a href="/Documentation/Introduction/Introduction.html" 
                     class="link_style">Introduction</a></li>
                 <li class="sidebar__components list_style"><a href="/Documentation/Colors/Colors.html" 
                     class="link_style">Colors</a></li>
                 <li class="sidebar__components list_style"><a href="/Documentation/Typography/Typography.html" 
                     class="link_style">Typography</a></li>
                 <li class="sidebar__components list_style"><a href="/Documentation/Conclusion/Conclusion.html" 
                    class="link_style">Conclusion</a></li>
                 <h4 class="sidebar__heading">Components</h4>
                 <li class="sidebar__components list_style"><a href="/components/Avatars/Avatar.html"
                     class="link_style">Avatar</a></li>
                <li class="sidebar__components list_style"><a href="/components/Alerts/Alerts.html"
                     class="link_style">Alert</a></li>
                 <li class="sidebar__components list_style"><a href="/components/Badges/Badges.html"
                     class="link_style">Badges</a></li>
                 <li class="sidebar__components list_style"><a href="/components/Buttons/Buttons.html"
                     class="link_style">Buttons</a></li>
                <li class="sidebar__components list_style"><a href="/components/Cards/Cards.html"
                     class="link_style">Cards</a></li>
                <li class="sidebar__components list_style"><a href="/components/Images/Images.html"
                     class="link_style">Images</a></li>
                <li class="sidebar__components list_style"><a href="/components/Inputs/Inputs.html"
                     class="link_style">Inputs</a></li>
                <li class="sidebar__components list_style"><a href="/components/List/List.html"
                     class="link_style">List</a></li>
                <li class="sidebar__components list_style"><a href="/components/Navigation/Navigation.html"
                     class="link_style">Navigation</a></li>
                <li class="sidebar__components list_style"><a href="/components/Toast/Toast.html"
                     class="link_style">Toast</a></li>
                <li class="sidebar__components list_style"><a href="/components/Rating/Rating.html"
                     class="link_style">Ratings</a></li>
                <li class="sidebar__components list_style"><a href="/components/Text-Utlities/Text-Utilities.html"
                     class="link_style">Text-Utilities</a></li>
                <li class="sidebar__components list_style"><a href="/components/GridSimplified/GridSimplified.html"
                      class="link_style">Grid-Simplified</a></li>
                <li class="sidebar__components list_style"><a href="/components/Modal/Modal.html"
                     class="link_style">Modal</a></li>
                <li class="sidebar__components list_style"><a href="/components/Slider/Slider.html"
                     class="link_style">Slider</a></li>
            </ul>
             </sidebar>
             
            <main class="pages_container">
                <h1 class="component_heading">Lists</h1>
               <div class="codebar">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L258-L261&style=night-owl"></script>
               </div>
                <div>Lists can be used at so many places,navigation bar,stacked bar,stacked notification,article pages etc</div>
                <h3 class="sub_heading">Example of Unordered List with bullets.</h3>
                <div>Add class according to bullet style.Copy the html code below and add these in your project.</div>
                <div class="container1">
                      <ul class="styled_list list_style-square"> 
                        <li>list item1</li>
                        <li>list item2</li>
                        <li>list item3</li>
                      </ul>
                      <ul class="styled_list list_style-circle"> 
                        <li>list item1</li>
                        <li>list item2</li>
                        <li>list item3</li>
                      </ul>
                </div>
                <div class="codebar">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L262-L271&style=night-owl"></script>
                </div>
                <h3 class="sub_heading">Example of 0rdered List with bullets.</h3>
                <div>Add class according to bullet style.Copy html code below and add your desired list items<br>
                To reverse the order of ordered list,add reversed attribute to ol element</div>
                <div class="container1">
                <ol class="styled_list"> 
                <li>List item1</li>
                <li>List item2</li>
                <li>List item3</li>
                </ol>

               <ol class="styled_list list_style-smAlpha" reversed> 
               <li>List item1</li>
               <li>List item2</li>
               <li>List item3</li>
               </ol>
               <ol class="styled_list list_style-upAlpha"> 
               <li>List item1</li>
               <li>List item2</li>
               <li>List item3</li>
                </ol>
                <ol class="styled_list list_style-roman"> 
                    <li>List item1</li>
                    <li>List item2</li>
                    <li>List item3</li>
                </ol>
               </div>
               <div class="codebar">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L274-L293&style=night-owl"></script>
               </div>
               <h3 class="sub_heading">Example of Notification List</h3>
               <div>This is notification list which are used for notifications.
               <div class="container">
                   <div class="noti">
                       <h4>Notifications</h4>
                    <ul class="styled_list list_style-none noti_list">
                        <li>Item Added</li>
                        <li>Offers</li>
                        <li>Discount</li>
                    </ul>
                   </div>
               </div>
               <div class="codebar">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L296-L303&style=night-owl"></script>
               </div>
              <div class="next_forward">
                <h3 class="sub_heading"><a class="link_style" href="/components/Inputs/Inputs.html">Inputs</a></h3>
                <h3 class="sub_heading"><a class="link_style" href="/components/Navigation/Navigation.html">Navigation</a></h3>
            </div>
         </main>
    </div>
    <script src="/JavaScript/header.js"></script>
</body>
</html> 
