.navigation{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:98%;
    height:3rem;
    background:var(--secondary-color);
    border-radius:5px;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0 1rem;

  }
  .navigation_items{
    
    display:flex;
    justify-content: flex-end;
}
  .navigation_items li{
    list-style:none;
    padding-right:1.5rem;
  }
 .nav_item-icon :hover{
    cursor:pointer;
    color:var(--text2--color);
  }
   .header2 {
    width:98%;
    border-radius:5px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
  }
  .header__input {
    width:50%;
    height: 2.3rem;
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid var(--primary-color);
  }
  .hearer__first-items {
    display: flex;
    align-items: center;
  }
  .hearer__first-items > * {
    margin: 0 1rem;
    cursor: pointer;
  }
  .header__btn {
    margin: 0 1rem;
    cursor: pointer;
    border: none;
  }
  .light_mode-btn{
    margin:0 0.5rem;
  }
  .hearer__last-items {
    display: flex;
    align-items: center;
    cursor: pointer;
    
  }
 