<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fda6e23714.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/Pages/Pages.css">
    <link rel="stylesheet" href="/components/Text-Utlities/Text-Utilities.css">
    <link rel="icon" type="image/x-icon" href="/assests/favicon.ico">
     <title>MADEUI</title>
</head>

<body>
    <div class="pages">
        <header class="header pages_header">
                <h2 class="heading header_heading ">MadeUI</h2>
                <label for="click" class="menu_btn"> <i class="fas fa-bars" id = "menu" onclick="changeIcon(this)"></i></label>
                <input type="checkbox" id="click">
                <ul class="list">
                    <li class="list_style"><a class ="link_style" href ="/index.html"><span>Home</span></a></li>
                    <li  class="list_style"><a class ="link_style" href ="/components/Avatars/Avatar.html"><span>Documentation</span></a></li>
                    <li class="list_style"><a class="link_style" href="https://github.com/Shrinkhlarajpoot/MadeUI"><i class="fab fa-github"></i></a></li> 

               </ul>
        </header>
        
        <sidebar class="pages_sidebar">
                <ul class="sidebar__items">
                     <h4 class="sidebar__heading">Getting Started</h4>
                     <li class="sidebar__components list_style"><a href="/Documentation/Introduction/Introduction.html" 
                         class="link_style">Introduction</a></li>
                     <li class="sidebar__components list_style"><a href="/Documentation/Colors/Colors.html" 
                         class="link_style">Colors</a></li>
                     <li class="sidebar__components list_style"><a href="/Documentation/Typography/Typography.html" 
                         class="link_style">Typography</a></li>
                     <li class="sidebar__components list_style"><a href="/Documentation/Conclusion/Conclusion.html" 
                        class="link_style">Conclusion</a></li>
                     <h4 class="sidebar__heading">Components</h4>
                     <li class="sidebar__components list_style"><a href="/components/Avatars/Avatar.html"
                         class="link_style">Avatar</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Alerts/Alerts.html"
                         class="link_style">Alert</a></li>
                     <li class="sidebar__components list_style"><a href="/components/Badges/Badges.html"
                         class="link_style">Badges</a></li>
                     <li class="sidebar__components list_style"><a href="/components/Buttons/Buttons.html"
                         class="link_style">Buttons</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Cards/Cards.html"
                         class="link_style">Cards</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Images/Images.html"
                         class="link_style">Images</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Inputs/Inputs.html"
                         class="link_style">Inputs</a></li>
                    <li class="sidebar__components list_style"><a href="/components/List/List.html"
                         class="link_style">List</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Navigation/Navigation.html"
                         class="link_style">Navigation</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Toast/Toast.html"
                         class="link_style">Toast</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Rating/Rating.html"
                         class="link_style">Ratings</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Text-Utlities/Text-Utilities.html"
                         class="link_style">Text-Utilities</a></li>
                    <li class="sidebar__components list_style"><a href="/components/GridSimplified/GridSimplified.html"
                          class="link_style">Grid-Simplified</a></li>
                   <li class="sidebar__components list_style"><a href="/components/Modal/Modal.html"
                          class="link_style">Modal</a></li>
                    <li class="sidebar__components list_style"><a href="/components/Slider/Slider.html"
                          class="link_style">Slider</a></li>
               </ul>
          </sidebar>
         <main class="pages_container">
                <h4 class="component_heading">Text-Utilities</h4>
               
                <div class="codebar">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L374-L376&style=night-owl"></script>
               </div>
       
                <div>Check out below text utlities.
       

                <h3 class="sub_heading">Example of Heading Text</h3>
                <div>For heading we can use h1,h2,h3,h4,h5,h6 elements.<br>The same font-styling is present for class names <span style="color:var(--primary-color)">h1,h2,h3,h4,h5,h6</span> class
                You can use one of these classes to style your text</div>
                <div class="typo_container">
                   <h1>h1.Heading</h1>
                   <h2>h2.Heading</h2>
                   <h3>h3.Heading</h3>
                   <h4>h4.Heading</h4>
                   <h5>h5.Heading</h5>
                   <h6>h6.Heading</h6>
                </div>
               <div class="codebar">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L377-L382&style=night-owl"></script>
               </div>

                <h3 class="sub_heading">Example of Text-Alignment</h3>
                <div>Given below are the text alignments. Use class <span style="color:var(--primary-color)">text-left,text-center,text-right</span> to use them.</div>
                <div class="typo_container">
                        <h4 class="text-left">Text-Align-left</h4>
                        <h4 class="text-center">Text-Align-center</h4>
                        <h4 class="text-right">Text-Align-right</h4>
                </div>
               <div class="codebar">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L384-L386&style=night-owl"></script>
               </div>
                <h3 class="sub_heading">Example of Different-Text-Sizes</h3>
                <div>These are the examples of different text of different sizes.Include these classes <span style="color:var(--primary-color)">xl-text
                lg-text-md-text-sm-text etc</span> to use them.</div>
                <div class="typo_container"> 
                        <p class="xl-text">This is extra large size text.</p>
                        <p class="lg-text">This is large size text.</p>
                        <p class="md-text">This is medium size text.</p>
                        <p class="sm-text">This is small size text.</p>
                        <p class="esm-text">This is extra small size text.</p>
                </div>
                <div class="codebar">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L388-L392&style=night-owl"></script>
                </div>
                <h3 class="sub_heading">Example of Text-transform</h3>
                <div>These are the examples of Text-transform.</div>
                <div class="typo_container"> 
                        <h4 class="uppercase-text">This is uppercase text.</h4>
                        <h4 class="lowercase-text">This is lowercase text.</h4>
                         <h4  class="capitalize-text">This is capitalize text.</h4>
                </div>
                <div class="codebar">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L394-L396&style=night-owl"></script>
                </div>
                <h3 class="sub_heading">Example of Font-Weights</h3>
                <div>These are the examples of different text with different font-weights, include the below classes to use them..</div>
                <div class="typo_container"> 
                        <h4 class="light-text">This is light font weight text.</h4>
                        <h4 class="regular-text">This is regular font weight text.</h4>
                        <h4 class="bold-text">This is bold font weight text.</h4>
                        <h4  class="bolder-text">This is bolder font weight text.</h4>
                </div>
                <div class="codebar">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L398-L401&style=night-owl"></script>
                </div>
               
               <div class="next_forward">
                        <h3 class="sub_heading"><a class="link_style" href="/components/Rating/Rating.html">Ratings</a></h3>
                        <h3 class="sub_heading"><a class="link_style" href="/components/GridSimplified/GridSimplified.html">Grid-Simplified</a></h3>
                       </div>
                  
             </div>
          </main>
    </div>
    <script src="/Javascript.js/header.js"></script>
</body>

</html>