<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/Pages/Pages.css">
   <link rel="stylesheet" href="/components/Modal/Modal.css">
    <script src="https://kit.fontawesome.com/fda6e23714.js" crossorigin="anonymous"></script>
    <title>MADEUI</title>
</head>
<body>
    <div class="pages">
        <header class="header pages_header" id="header">
            <h2 class="heading header_heading">MadeUI</h2>
            <label for="click" class="menu_btn"> <i class="fas fa-bars" id = "menu" onclick="changeIcon(this)"></i></label>
            <input type="checkbox" id="click">
            <ul class="list">
                <li class="list_style"><a class ="link_style" href ="/index.html"><span>Home</span></a></li>
                <li  class="list_style"><a class ="link_style" href ="/components/Avatars/Avatar.html"><span>Documentation</span></a></li>
                <li class="list_style"><a class="link_style" href="https://github.com/Shrinkhlarajpoot/MadeUI"><i class="fab fa-github"></i></a></li> 
          
            </ul>

         </header>
        
         <sidebar class="pages_sidebar">
            <ul class="sidebar__items">
                 <h4 class="sidebar__heading">Getting Started</h4>
                 <li class="sidebar__components list_style"><a href="/Documentation/Introduction/Introduction.html" 
                     class="link_style">Introduction</a></li>
                 <li class="sidebar__components list_style"><a href="/Documentation/Colors/Colors.html" 
                     class="link_style">Colors</a></li>
                 <li class="sidebar__components list_style"><a href="/Documentation/Typography/Typography.html" 
                     class="link_style">Typography</a></li>
                 <li class="sidebar__components list_style"><a href="/Documentation/Conclusion/Conclusion.html" 
                    class="link_style">Conclusion</a></li>
                 <h4 class="sidebar__heading">Components</h4>
                 <li class="sidebar__components list_style"><a href="/components/Avatars/Avatar.html"
                     class="link_style">Avatar</a></li>
                <li class="sidebar__components list_style"><a href="/components/Alerts/Alerts.html"
                     class="link_style">Alert</a></li>
                 <li class="sidebar__components list_style"><a href="/components/Badges/Badges.html"
                     class="link_style">Badges</a></li>
                 <li class="sidebar__components list_style"><a href="/components/Buttons/Buttons.html"
                     class="link_style">Buttons</a></li>
                <li class="sidebar__components list_style"><a href="/components/Cards/Cards.html"
                     class="link_style">Cards</a></li>
                <li class="sidebar__components list_style"><a href="/components/Images/Images.html"
                     class="link_style">Images</a></li>
                <li class="sidebar__components list_style"><a href="/components/Inputs/Inputs.html"
                     class="link_style">Inputs</a></li>
                <li class="sidebar__components list_style"><a href="/components/List/List.html"
                     class="link_style">List</a></li>
                <li class="sidebar__components list_style"><a href="/components/Navigation/Navigation.html"
                     class="link_style">Navigation</a></li>
                <li class="sidebar__components list_style"><a href="/components/Toast/Toast.html"
                     class="link_style">Toast</a></li>
                <li class="sidebar__components list_style"><a href="/components/Rating/Rating.html"
                     class="link_style">Ratings</a></li>
                <li class="sidebar__components list_style"><a href="/components/Text-Utlities/Text-Utilities.html"
                     class="link_style">Text-Utilities</a></li>
                <li class="sidebar__components list_style"><a href="/components/GridSimplified/GridSimplified.html"
                      class="link_style">Grid-Simplified</a></li>
               <li class="sidebar__components list_style"><a href="/components/Modal/Modal.html"
                     class="link_style">Modal</a></li>
                <li class="sidebar__components list_style"><a href="/components/Slider/Slider.html"
                     class="link_style">Slider</a></li>
                </ul>
                </sidebar>
            
            <main class="pages_container">
                <h1 class="component_heading" >Modal</h1>
               <div class="codebar">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F2395be8fd05527bc46cde6e84323818de697f2cc%2Findex.html%23L485-L487&style=night-owl"></script>
               </div>
  
                <div>Modals are positioned over everything else in the document and remove the scroll from the page.It gets closed only with close
                    button on modal pop-up.
                </div>
                <h3 class="sub_heading">Examples of Modal</h3>
                <div>To use modal in your project add class <span style="color:var(--primary-color)">modal.</span>in your div conatiner</div>
                <div class="container">
                    <div class="modal__btn" id="modal__btn1">
                         SHOW DEMO
                    </div>
                </div>
                <div class="modal" id="modal">
                    <p>PLEASE SIGN IN TO CONTINUE USING THIS APP.<br>Click on close button to close.</p>
                    <div class="modal__close">
                        <button class="btn" id="modal__btn2">CLOSE</button>
                        <button class="btn" id="modal__btn2">SIGN-IN</button>
                    </div>
                </div>
                <div class="codebar">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F0d6f6d77fea5d32c7db03d7fa88cf1610ea172df%2Findex.html%23L489-L501&style=night-owl"></script>
                    </div>
                <div class="codebar">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F2395be8fd05527bc46cde6e84323818de697f2cc%2Findex.html%23L502-L519&style=night-owl"></script>
                </div>
               <div class="next_forward">
                        <h3 class="sub_heading"><a class="link_style" href="/components/GridSimplified/GridSimplified.html">Grid-Simplified</a></h3>
                        <h3 class="sub_heading"><a class="link_style" href="/components/Slider/Slider.html">Slider</a></h3>
                    </div>
                </main>
             

                </div>
                <script src="/JavaScript/header.js"></script>
                <script>
                   const btn=document.getElementById("modal__btn1");
                   const modal=document.getElementById("modal");
                   const close=document.getElementById("modal__btn2");
               
                   const show =()=>{
                     modal.style.display="block"
                      div.style.display="block";
                      document.body.style.overflow="hidden"
                    
                   }
                   const hide =()=>{
                       modal.style.display="none"
                      div.style.display="none";
                      document.body.style.overflow="visible"
                   } 
                   btn.addEventListener("click",show);
                   close.addEventListener("click",hide);
                   const div = document.createElement("div");
                   div.classList.add("modal__bg");
                    modal.insertAdjacentElement("afterend",div);
                </script>
                </body>
                </html>