.pages{
    display: grid;
    width:100%;
    grid-template-columns:1fr 1fr 1fr ;
    grid-auto-columns: 1fr ;
    grid-template-rows: 10vh 1fr;
    grid-template-areas: 
    'header1 header1 header1 header1 header1 header1 header1 header1 header1'
    'sidebar sidebar  main1   main1   main1   main1   main1   main1   main1';
    
}
.pages_header{
    min-width: 100vw;
    grid-area: header1;
    box-shadow: 2px 5px 8px grey;
}

.pages_sidebar{
  grid-area: sidebar;
  margin-top:2rem;
  height:55rem;
  width: 17vw;
  border-radius:5px;
  box-shadow: 8px 8px 10px grey;
 }

 
 .sidebar__heading {
    padding: 0.3rem 0;
    font-size: 1rem;
    font-weight: bold;
}
.sidebar__components{
    font-size:0.8rem;
}

.sidebar__items{
    font-size:0.5rem;
    text-align: center;
    width:100%;
}
.sidebar__items > *{
   
    padding:0.7rem;
    width:80%;
    font-size:1rem;
    
} 


.sidebar__items li:hover{
    width: 100%;
    
    background-color: var(--primary-color);
    border-radius:5px;
}
.pages_container{
    width:98%;
    grid-area:main1;
    margin-top:35px ;
    padding:0 2rem;
    box-shadow:  7px 8px 8px 8px grey;
   
}
.pages_container h1{
    padding: 0.9rem 0 1.5rem 0;
}
.sub_heading{
    margin:2.5rem 0;
    font-weight: bold;
    border-bottom: 1px solid black;
    
}
.component_heading{
    margin-bottom: 1rem;
    font-size:3rem;
}
.next_forward{
    width: 90%;
    display: flex;
    justify-content: space-between;
    
}
.next_forward h2{
   margin-bottom: 4rem;
   cursor: pointer;
}
.container{
    width:90%;
    /* height:25rem; */
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem 1rem 0;
    padding: 3rem 2rem;
    border:1px solid black;
}
.container1{
    width:90%;
    /* height:25rem; */
    height:fit-content;
    display: flex;
    
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem 1rem 0;
    padding: 3rem 2rem;
    border:1px solid black;
}


@media screen and (max-width:1091px) {
    .pages_sidebar{
        display: none;
       }
    
    .pages{
        grid-template-columns: 1fr;
        grid-template-areas: 'header1'
        'main1';
    }
    .pages_header{
        grid-area: header1;
    }
    
}
.pages_container{
  padding:0 0 0 2rem
}