<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/Pages/Pages.css">
    <link rel="stylesheet" href="/components/Inputs/Inputs.css">
    <script src="https://kit.fontawesome.com/fda6e23714.js" crossorigin="anonymous"></script>
    <title>MADEUI</title>
</head>
<body>
    <div class="pages">
        <header class="header pages_header" id="header">
            <h2 class="heading header_heading">MadeUI</h2>
            <label for="click" class="menu_btn"> <i class="fas fa-bars" id = "menu" onclick="changeIcon(this)"></i></label>
            <input type="checkbox" id="click">
            <ul class="list">
                <li class="list_style"><a class ="link_style" href ="/index.html"><span>Home</span></a></li>
                <li  class="list_style"><a class ="link_style" href ="/components/Avatars/Avatar.html"><span>Documentation</span></a></li>
                <li class="list_style"><a class="link_style" href="https://github.com/Shrinkhlarajpoot/MadeUI"><i class="fab fa-github"></i></a></li> 
           </ul>
    
         </header>
         <sidebar class="pages_sidebar">
            <ul class="sidebar__items">
                 <h4 class="sidebar__heading">Getting Started</h4>
                 <li class="sidebar__components list_style"><a href="/Documentation/Introduction/Introduction.html" 
                     class="link_style">Introduction</a></li>
                 <li class="sidebar__components list_style"><a href="/Documentation/Colors/Colors.html" 
                     class="link_style">Colors</a></li>
                 <li class="sidebar__components list_style"><a href="/Documentation/Typography/Typography.html" 
                     class="link_style">Typography</a></li>
                 <li class="sidebar__components list_style"><a href="/Documentation/Conclusion/Conclusion.html" 
                    class="link_style">Conclusion</a></li>
                 <h4 class="sidebar__heading">Components</h4>
                 <li class="sidebar__components list_style"><a href="/components/Avatars/Avatar.html"
                     class="link_style">Avatar</a></li>
                <li class="sidebar__components list_style"><a href="/components/Alerts/Alerts.html"
                     class="link_style">Alert</a></li>
                 <li class="sidebar__components list_style"><a href="/components/Badges/Badges.html"
                     class="link_style">Badges</a></li>
                 <li class="sidebar__components list_style"><a href="/components/Buttons/Buttons.html"
                     class="link_style">Buttons</a></li>
                <li class="sidebar__components list_style"><a href="/components/Cards/Cards.html"
                     class="link_style">Cards</a></li>
                <li class="sidebar__components list_style"><a href="/components/Images/Images.html"
                     class="link_style">Images</a></li>
                <li class="sidebar__components list_style"><a href="/components/Inputs/Inputs.html"
                     class="link_style">Inputs</a></li>
                <li class="sidebar__components list_style"><a href="/components/List/List.html"
                     class="link_style">List</a></li>
                <li class="sidebar__components list_style"><a href="/components/Navigation/Navigation.html"
                     class="link_style">Navigation</a></li>
                <li class="sidebar__components list_style"><a href="/components/Toast/Toast.html"
                     class="link_style">Toast</a></li>
                <li class="sidebar__components list_style"><a href="/components/Rating/Rating.html"
                     class="link_style">Ratings</a></li>
                <li class="sidebar__components list_style"><a href="/components/Text-Utlities/Text-Utilities.html"
                     class="link_style">Text-Utilities</a></li>
                <li class="sidebar__components list_style"><a href="/components/GridSimplified/GridSimplified.html"
                      class="link_style">Grid-Simplified</a></li>
                 <li class="sidebar__components list_style"><a href="/components/Modal/Modal.html"
                        class="link_style">Modal</a></li>
                <li class="sidebar__components list_style"><a href="/components/Slider/Slider.html"
                        class="link_style">Slider</a></li>
                </ul>
            </sidebar>
           
            <main class="pages_container">
                <h2 class="component_heading">Inputs</h2>
              <div class="codebar">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L233-L235&style=night-owl"></script>
              </div>
               
                <div>Inputs are necessary for user interaction with the website.Inputs are used to take information from the user
                    ,and save the data to the server accordingly.
                </div>
                <h3 class="sub_heading">Example of Normal Input Fields</h3>
                <div>These are the simple Input.Copy paste the below code to include these inputs field in your project.</div>
                <div class="input_container">
                <div>
                <label for="password">Enter password*</label>
                <input type="Password"class="input_input" placeholder="Password"name="password" /></div>
               <div>
               <label for="email">Enter Email*</label>
               <input type="email"class="input_input" placeholder="Email"name="email" /></div>
               </div>
               <div class="codebar">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L238-L242&style=night-owl"></script>
               </div>
                <h3 class="sub_heading">Example of Validation Input Fields</h3>
                <div>These are the inputs field with validation.Add class name input_input along with input_valid to use them .</div>
                <div class="input_container">
                <div>
                <label for="password" class="label_valid">Enter password*</label>
                <input type="Password"class="input_input input_valid" placeholder="Password"name="password" /></div>
                <div>
                <label for="email" class="label_valid">Enter Email*</label>
                <input type="email"class="input_input input_valid" placeholder="Email"name="email" required /></div>
                <h5 class="label_valid">Strong Password</h5>
                </div>
                <div class="codebar">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L243-L250&style=night-owl"></script>
                </div>
                <h3 class="sub_heading">Example of Error Input Fields</h3>
                <div>These are the inputs field with error.Add class onput_input along with input_error to use them</div>
                <div class="input_container">
                
                <label for="password" class="label_err">Enter password*</label>
                <input type="Password"class="input_input input_err" placeholder="Password"name="password" />
                
                
                <label for="email" class="label_err">Enter Email*</label>
                <input type="email"class="input_input input_err" placeholder="Email"name="email" required />
                <h5 class="label_err">Weak Password</h5>
            </div>
            <div class="codebar">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FShrinkhlarajpoot%2FcodeSnipett%2Fblob%2F8b1e7ac6e608b7eac5ee47b7ea04d08f7672e61c%2Findex.html%23L251-L256&style=night-owl"></script>
            </div>
          <div class="next_forward">
            <h3 class="sub_heading"><a class="link_style" href="/components/Images/Images.html">Images</a></h3>
            <h3 class="sub_heading"><a class="link_style" href="/components/List/List.html">List</a></h3>
        </div>
     </main>
    </div>
    <script src="/JavaScript/header.js"></script>
</body>
</html>